html {
    background-color: #00707A;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-bottom: 2%; 
}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 80px;
} 

br
{   content: "A";
    display: block;
    margin-bottom: 2.5em;
}

h1.underline {border-style: none none solid none;}
p.separator {padding-top: 2%;}

.sidebar {
    background-color: #11575e;
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 80px;
}

.sidebar1 {
    background-color: #11575e;
    position: fixed;
    left: 0%;
    top: 11%;
    height: 80px;
    width: 100%;

}

.homepage{
    position: relative;
    text-align: center;
    font-size: 50px;
    top: 17%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

/* .all{
    position: relative;
    text-align: center;
    font-size: 50px;
    top: 13%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.banned{
    position: relative;
    text-align: center;
    font-size: 50px;
    top: 16%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
} */

.twenteytwo{
    position: relative;
    text-align: center;
    font-size: 40px;
    top: 19%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.twenteyone{
    position: relative;
    text-align: center;
    font-size: 40px;
    top: 22%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.twentey{
    position: relative;
    text-align: center;
    font-size: 40px;
    top: 25%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.nineteen{
    position: relative;
    text-align: center;
    font-size: 40px;
    top: 28%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.homepagehoriz{
    position: fixed;
    text-align: center;
    font-size: 50px;
    left: 50%;
    top: 11%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.allhoriz{
    position: fixed;
    text-align: center;
    left: 43%;
    font-size: 50px;
    top: 11%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.bannedhoriz{
    position: fixed;
    text-align: center;
    font-size: 50px;
    left: 57%;
    top: 11%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.twenteytwohoriz{
    position: fixed;
    text-align: center;
    left: 36%;
    font-size: 40px;
    top: 11.5%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.twenteyonehoriz{
    position: fixed;
    text-align: center;
    font-size: 40px;
    left: 29%;
    top: 11.5%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.twenteyhoriz{
    position: fixed;
    text-align: center;
    font-size: 40px;
    left: 71%;
    top: 11.5%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.nineteenhoriz{
    position: fixed;
    text-align: center;
    font-size: 40px;
    left: 64%;
    top: 11.5%;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}


a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }










